*{
    margin:0;
    padding:0;
}
body{
    min-width: 100vw;
    min-height: 100vh;
    display:flex;
    flex-direction: column;
}

header{
    position: sticky;
    top: 0;
    background-color: rgb(37, 83, 122);
    color:rgb(141, 165, 172);
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding:10px;

}
nav{
    display:flex;
    align-items: center;
    padding:20px;

}
    
.watchbtn{
     padding: 10px 22px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
    /* font-weight: 600; */
background-color: white;
    /* border:2px solid black;
    border-radius: 5px; */
    color:rgb(12, 56, 95);
    font-weight: 800;
}
.watchbtn:hover{

    background-color:rgb(141, 165, 172) ;
    color:black;
     transform: translateY(-3px);

}
footer{
    position: static;
    width:100%;
    background-color:rgb(37, 83, 122) ;
    color:rgb(141, 165, 172);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:30px;
    font-size: x-large;
}
p{
    font-weight: 800;
    font-size: large;
}
main{
    background-color: black;
    display:flex;
    flex:1;

}
.wrapper{
    
    min-height:100vh;
    min-width:100vw;
    background-color: rgb(45, 51, 56);
    display:flex;
    flex-direction: column;
}
.search-section{
    
    display:flex;
    flex-direction: column;
    margin:10px;
    align-items: left;


}
.search-form{
    margin-top:40px;
    min-width: 50vw;
    display:flex;
    justify-content: center;
    gap:50px;
    
}
#searchbar{
    min-width: 700px;
    padding:15px;
}
#searchbtn{

     padding: 10px 22px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
    /* font-weight: 600; */
background-color: white;
    /* border:2px solid black;
    border-radius: 5px; */
    color:rgb(12, 56, 95);
    font-weight: 800;
}
#searchbtn:hover{
    background-color: rgb(37, 83, 122) ;
    color:rgb(141, 165, 172);
     transform: translateY(-3px);
      box-shadow: 0 8px 20px rgba(0,0,0,0.25);
}
.movies-section{
    width:100%;
    height:100%;
}
.movie-grids{
    max-height: 100%;
    max-width: 100%;

    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
   column-gap: 20px;
   row-gap: 30px;
    margin:10px;
    padding-bottom: 20px;

}
.movie-card{
    display:flex;
    flex-direction: column;
    justify-content: space-between;

     width: 300px;
    height: auto;
    overflow: hidden;

}
.movie-card img{
    border-radius: 10px;
    height:400px;
    object-fit: cover;
    margin-bottom: 10px;
}
.movie-card h3{
    color:white;
}
.movie-card p{
    color:gray;
    font-size:large;
}
.button-box{
    display:flex;
    flex-direction: row;
    justify-content: left;
    gap:10px;
    margin-top: 5px;
}
.button-box button{
    padding: 8px 14px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.3s ease;
}
.showmore-btn{
    background-color: #bd981f;
    color: white;
}

.showmore-btn:hover{
    background-color: #bd981f;
    transform: translateY(-2px);
}
.watchlist-btn{
    background-color: #10B981;
    color: white;
}

.watchlist-btn:hover{
    background-color: #059669;
    transform: translateY(-2px);
}
.removebtn{
 background-color:#520b0b ;
    color: white;
    
}
.removebtn:hover{
    background-color:#520b0b ;
    transform: translateY(-2px);
}
.addedbtn{
    background-color:#125083 ;
    color: white;
}
.addedbtn:hover{
     background-color:#125083 ;
    transform: translateY(-2px);
}

.failed{
    grid-column: 1/-1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     text-align: center;
    min-height: 60vh;

}
.failed h2{
    color:white;
}
.failed h3{
    color:gray;
}
.modal-container{
    display:flex;
    flex-direction: column;
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.7);
    justify-content:center;
    align-items:center;
}
.modal-wrapper{
     background:white;
    width:70%;
    max-width:700px;
    padding:20px;
    border-radius:10px;
    position:relative;
}
.closebtn{
    background-color: rgb(150, 33, 33);
    padding:5px;
    color:white;
     position:absolute;
    top:15px;
    right:20px;
    font-size:20px;
    cursor:pointer;
}
.modal-details{
    display:flex;
    flex-direction: column;
     justify-content:center;
     max-height:80vh;
    overflow-y:auto;
    background-color: rgb(66, 65, 65);
    
}
.modal-details h2, .modal-details h3{
    color:rgb(173, 150, 19);
    margin:10px;
    font-size: x-large;

}
.modal-details p{
    margin: 10px;
    color:white;

    text-align: left;
    font-size: large;
}
.modal-details img{
    
    border-radius: 10px;
    object-fit: cover;
}
.movie-grids h1{
    justify-self:  center;
    align-self: center;
    color: white;
}
